body * {
    font-family: "Montserrat", sans-serif;
}

#title {
    background-color: #ff4c68;
    color: #ffffff;
}

div.container-fluid {
    padding: 3% 15%;
}

div h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 4rem;
    line-height: 1.5;
}

/* Nav Bar */
div .navbar {
    padding: 0 0 4.5rem;
}

div .navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

div .nav-item {
    padding: 0 18px;
}

div .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: light;
}

/* Download Buttons */

div .download-btn {
    margin: 5% 3% 5% 0;
}

/* Title Image */

div .title-image {
    width: 60%;
    transform: rotate(25deg);
}


/* Features */

div .feature-column {
    text-align: center;
    padding: 3.5rem 0;
}

div .feature-icon {
    font-size: 4rem;
    color: #ef8172;
    padding: 1rem 0;
}

div .feature-icon:hover {
    color: #ff4c68;
}

div .feature-name {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

div .feature-text {
    color: #8f8f8f;
    padding: 0 3.5rem;
}