<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ url_for('static', filename='/css/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="formbold-main-wrapper">
  <!-- Author: FormBold Team -->
  <!-- Learn More: https://formbold.com -->
  <div class="formbold-form-wrapper">
    <div class="formbold-form-title">
        <h3>Subscribe Now to Get Our Latest Offers!</h3>
        <p>There are many variations of passages of Lorem Ipsum available but the majority have.</p>
    </div>
    <form action="/login" method="POST">
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Name"
          class="formbold-form-input"
        />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          class="formbold-form-input"
        />
        <button class="formbold-btn">
            Subscribe Now
        </button>
    </form>
  </div>
</div>
</body>
</html>